# Entorno
.env
.env.*
!.env.example
venv/
env/
.venv/
.atl/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
*.log

# Docker
docker-compose.override.yml

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
